body {

     background-color: rgba(65, 105, 225, 0.03);


 }

.loginForm input {
    margin: 10px 0 10px 0;
    padding: 5px 30px 5px 30px;

}


.registerForm input {
    margin: 10px 0 10px 0;
    padding: 5px 30px 5px 30px;

}
.loginForm {

    background-color: white;
    font-family:  Calibri;
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.62);
    padding: 50px;
}

.loginForm button {
    margin-top: 15px;

}

.registerForm {
    box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.62);
    padding: 50px;
    background-color: white;
    font-family: Calibri;
}

.registerForm button {
    margin-top: 15px;

}

.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

.film {
background-color: white;
    list-style-type: none;
    color:black;
    padding: 50px;
    box-shadow: 0px 0px 5px black;
    margin: 30px;

}

.searchBar {
    padding: 20px;
    box-shadow: 0px 0px 1px black;
    background-color: white;
}

.alert {
    padding: 20px;
    background-color: #f44336; /* Red */
    color: white;
    margin-bottom: 15px;
}

.closebtn:hover {
    color: black;
}

.mainNav {
    color: white;
}

.searchBar {

    margin: 0 auto;
    background-size: cover;

}

#logout-btn {
    margin: 15px;

}

.poster {

margin: 0 auto;
    width: 30%;
    height: 30%;

}