<template>

    <div>
        <NavBar/>
        <form @submit.prevent="logIn" class="loginForm">
            <div class="alert" v-if="error">
                <span class="closebtn" @click="error = null">x</span>
                {{ error }}
            </div>
            <h1>{{title}}</h1>
            <input type="text" v-model="email" placeholder="Email" required><br>
            <input type="password" v-model="password" placeholder="Password" required><br>


            <button type="submit" class="btn btn-success" >Log in</button><br>


        </form>

    </div>
</template>

<script>

    import UserService from '@/services/userService.js'
import NavBar from "./NavBar";
    export default {
        name: 'LoginForm',
        data() {
            return {
                title: 'Log In',
                email: '',
                password: '',
                error: null

            }
        },
        components: {
            NavBar
        },

        methods: {
                    async logIn () {
                try {
                    const response = await UserService.login({ email: this.email, password: this.password })
                    this.$store.dispatch('setUser', response.user)
                    this.$store.dispatch('setToken', response.token)
                    this.$router.push('/search')
                } catch (error) {
                    this.error = error.toString()
                }
            }

        }

    }
</script>r

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>




</style>
