<template>
    <div class="mainNav">
        <b-navbar toggleable="lg" type="light" variant="light">
            <b-navbar-brand ><router-link to="login">Log In</router-link></b-navbar-brand>
            <b-navbar-brand><router-link to="register">Register</router-link></b-navbar-brand>
            <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

        </b-navbar>
    </div>
</template>

<script>
    export default {
        name: "NavBar"
    }
</script>

<style scoped>

</style>