<template>
    <div>
<NavBar/>
        <form @submit.prevent="register" class="registerForm">
            <div class="alert" v-if="error">
                <span class="closebtn" @click="error = null">&times;</span>
                {{ error }}
            </div>
            <h1>{{title}}</h1>
            <input type="text" v-model="email" placeholder="Email" required><br>
            <input type="password" v-model="password" placeholder="Password" required><br>

            <p>
                <button type="submit" class="btn btn-success">Sign up !</button>
            </p>
        </form>


    </div>
</template>

<script>
    import UserService from "../services/userService";
    import NavBar from "./NavBar";


    export default {
        name: "RegisterForm",
        data() {
            return {
                title: "Join us !",
                email: '',
                password: '',
                error: null


            }
        },
        components: {
            NavBar
        },
        methods: {
            async register() {
                try {
                    const response = await UserService.register({
                        email: this.email,
                        password: this.password,
                        firstname: "John",
                        lastname: "Smith"
                    })
                    this.$store.dispatch('setUser', response.user)
                    this.$store.dispatch('setToken', response.token)
                    this.$router.push('/search')
                } catch (error) {
                    this.error = error.toString()
                }
            }
        }
    }

</script>

<style scoped>


</style>