<template>
    <div id="search-film">
        <form @submit.prevent="searchFilm" class="searchBar">
            <div class="alert" v-if="error">

                <span class="closebtn" @click="error = null">&times;</span>
                {{error}}

            </div>

            <label for="search">Search : </label>
            <input id="search" type="text" v-model="title">

        </form>
        <button id="logout-btn" @click="logOut" class="btn btn-danger">Sign Out !</button>
        <ul class="films">
            <film v-for="film in films" :key="film.title" :film="film"></film>
        </ul>


    </div>
</template>

<script>
    import Film from './Film'
    import FilmDAO from "../services/FilmDAO";

    export default {
        name: 'SearchFilm',
        components: {
            Film
        },
        data() {
            return {
                films: [],
                title: '',
                error: null
            }
        },
        methods: {
            logOut() {
                this.$store.dispatch('setUser', null)
                this.$store.dispatch('setToken', null)
                this.$router.push('login')

            },
            async searchFilm() {
                try {
                    const response = await FilmDAO.search(this.title)
                    this.films = Array.isArray(response) ? response : [response]
                } catch (e) {
                    this.error = e.toString()
                }
            }

        }
    }
</script>

<style scoped>
    .alert {
        padding: 20px;
        color:white;
        background-color: indianred;
    }

</style>
